#event-remove-btn, #event-edit-btn, #event-share-btn {
    font-weight: 600;
    background: var(--color-primary);
    color: white;
    margin-top: 10%;
    padding: 12px;
    border: none;
    cursor: pointer;
    transition: transform 0.15s ease, box-shadow 0.15s ease;
    width: 100px;
    height: 50px;
    border-radius: 20px;
}

#event-date, #event-time, #event-location, #event-cost {
    margin-top: 1%;
}

#title, #date, #time, #location, #cost, #description {
    color: black;
    border: grey solid, 1px;
}

#title, #date, #time, #location, #cost {
    padding: 1px;
    text-align: center;
    font-size: 1rem;
    width: 60%;
    border-radius: 10px;
}

#event-description {
    margin-top: 1%;
}

#editPopupForm {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border-radius: 20px;
    z-index: 1;
    width: 90%;
    height: 75%;
    text-align: start;
}

#description {
    width: 90%;
    height: 200px;
    border-radius: 10px;
    text-align: start;
    font-family: Verdana;
}

#cancel-edit, #save-edit {
    background: var(--color-primary);
    color: white;
    border: none;
    padding: 15px;
    width: 40%;
    height: 80px;
    font-weight: bold;
    border-radius: 20px;
}

#cancel-edit {
    margin-left: 17%;
}

#edit-buttons {
    display: inline;
    text-align: center;
    align-items: center;
    border-radius: 20px;
}

#removePopupForm {
    font-weight: bold;
    font-size: large;
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border-radius: 20px;
    z-index: 1;
    width: 90%;
    height: 75%;
}

#cancel-remove, #yes-remove {
    font-weight: 600;
    cursor: pointer;
    transition: transform 0.15s ease, box-shadow 0.15s ease;
    margin-top: 10%;
    width: 125px;
    height: 125px;
    border-radius: 20px;
    font-size: larger;
    margin-top: 40%;
}

#cancel-remove {
    background: var(--color-primary);
    color: white;
    border: none;
    margin-right: 10%;
}

#yes-remove {
    background: green;
    color: white;
    border: none;
}

.event-options {
    text-align: center;
}