#event-remove-btn, #event-edit-btn, #event-share-btn {
    font-weight: 600;
    background: var(--color-primary);
    color: white;
    margin-top: 120px;
    padding: 12px;
    border: none;
    cursor: pointer;
    transition: transform 0.15s ease, box-shadow 0.15s ease;
    width:100px;
    border-radius: 20px;
}

#editPopupForm {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border-radius: 20px;
    z-index: 1;
    width: 90%;
    height: 75%;
    text-align: start;
}

#editPopupForm form input {
    border-radius: none;
    padding: 5p
}

#cancel-edit, #save-edit {
    background: var(--color-primary);
    color: white;
    border: none;
    padding: 15px;
    width: 30%;
    height: 80px;
    font-weight: bold;
    border-radius: 20px;
}

#edit-buttons {
    display: inline;
    text-align: center;
    align-items: center;
    border-radius: 20px;
}

#description {
    width: 80%;
}

#removePopupForm {
    font-weight: bold;
    font-size: large;
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border-radius: 20px;
    z-index: 1;
    width: 85%;
    height: 25%;
}

#cancel-remove, #yes-remove {
    font-weight: 600;
    cursor: pointer;
    transition: transform 0.15s ease, box-shadow 0.15s ease;
    margin-top: 10%;
    border-radius: 20px;
}

#cancel-remove {
    background: var(--color-primary);
    color: white;
    border: none;
    padding: 15px;
    width: 100px;
    height: 100px;
}

#yes-remove {
    background: green;
    color: white;
    border: none;
    padding: 15px;
    width: 100px;
    height: 100px;
}

.event-options {
    text-align: center;
}